{# This template is used to produce the examples.html page for the website. #}

.. _examples:

Examples
========

{% for (name, desc) in example|dictsort %}
.. _example.{{ name }}:

.. cssclass:: exampleblock example-{{ name }}

{{ desc }}

{% endfor %}
